$base-color: #C01F33;
$white-color: white;
$black-color: black;
$light-gray: #c9cdd0;


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    margin-left: 20px;
    margin-right: 20px;
  } 
 